.men-container{
  margin:0;
  padding: 0;
}

.shop-now-top-shoe-men{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top: -2%;
  font-weight: 600;
  letter-spacing: -.6px;
}
.men-gearup-shop{
  text-align: center;
}
.men-picture-header-container{
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}
.men-picture-headers{
  font-size: 17px;
    position: absolute;
    margin-top: 0%;
    font-weight: 900;
    letter-spacing: -1px;
    margin-top: 4%;
}

.men-latest-shoes-container{
  font-family: 'Roboto ', sans-serif;
  font-size: 14px;
  list-style: none;
  font-weight: 600;
  letter-spacing: -.6px;
  margin-top: -3.5%;
}
.men-latest-shoes-caption{
  text-align: center;
margin-left: 9%;
width: 21%;
}


.men-essentials-caption1{
  width: 21%;
margin-left: 9%;
text-align: center;

}
.men-essentials-caption{
  font-family: 'Roboto ', sans-serif;
  font-size: 14px;
  list-style: none;
  font-weight: 500;
  letter-spacing: -.6px;
  color:white;
  height: 328px;
    margin-top: -10%;
    margin-left: -1%;
    padding-left: 8%;
    width: 31.9%;
    text-align: center;
}
.follow-nike{
  position: absolute;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.nike-apps-ul{
  font-family: 'Roboto ', sans-serif;
  position: absolute;
  font-size: 10px;
  font-weight: 900;
  list-style: none;
  display: inline-flex;
  width: 100%;
  margin-top: -5%;
}
.nike-plus{
margin-left: 18.7%;
}
.nike-run{
margin-left: 12%;
}
.nike-training{
margin-left: 8%;
}
.nike-snkrs{
margin-left: 9%;
}
