.men-container{
  margin:0;
  padding: 0;
  margin-top: 5%;
}
.nike-men-header{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 39px;
  text-align: center;
}
.shoe-container{
  margin-top: 5%;
}
.nike-men-top-captions-ul{
  position: absolute;
  display: flex;
  list-style: none;
  margin-left: 32.8%;
margin-top: -3%;
color: #666666

}
.nike-men-top-captions{
  margin-left: -15%;
}

hr {
    margin-top: -1px;
    margin-left: 23px;
    padding-left: 1px;
    padding-right: 1px;
    border-top: 20px solid #666666;
}
.gear-up-top-text{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: absolute;
  list-style: none;
  display: flex;
  width: 100%;
  font-weight: 900;
  letter-spacing: -1px;
}
.gearup-crosscountry{
  margin-top: 5%;
    margin-left: 1.5%;
}
.gearup-football{
  margin-top: 5%;
  margin-left: 24.4%;
}
.shop-now-top-shoe-men{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top:-1%;
  font-weight: 600;
  letter-spacing: -.6px;
}
.men-gearup-shop{
  text-align: center;
}
.men-picture-header-container{
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}
.men-picture-headers{
  font-size: 17px;
    position: absolute;
    margin-top: 0%;
    font-weight: 900;
    letter-spacing: -1px;
    margin-top: 4%;
}
.latest-shoes-container{
  position: absolute;
 width: 100%;
 margin-top: 25.4%;
 font-family: 'Roboto ', sans-serif;
 font-size: 14px;
 list-style: none;
 font-weight: 600;
 letter-spacing: -.6px;
}
.men-latest-shoes-container{
  font-family: 'Roboto ', sans-serif;
  font-size: 14px;
  list-style: none;
  font-weight: 600;
  letter-spacing: -.6px;
  margin-top: -3.5%;
}
.men-latest-shoes-caption{
  text-align: center;
  margin-left: 10.333%;
  width: 18%;
  margin-right: 3%;
}


.men-essentials-caption1{
  width: 21%;
margin-left: 9%;
text-align: center;

}
.men-essentials-caption{
  font-family: 'Roboto ', sans-serif;
  font-size: 14px;
  list-style: none;
  font-weight: 500;
  letter-spacing: -.6px;
  color:white;
  height: 328px;
    margin-top: -10%;
    margin-left: -1%;
    padding-left: 8%;
    width: 31.9%;
    text-align: center;
}
.follow-nike{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  margin-top:7.8%;
  text-align: center;
  width: 100%;
}
.nike-apps-ul{
  font-family: 'Roboto ', sans-serif;
  position: absolute;
  font-size: 10px;
  font-weight: 900;
  list-style: none;
  display: inline-flex;
  width: 100%;
  margin-top: -6.7%;
}
.nike-plus{
margin-left: 19.9%;
}
.nike-run{
margin-left: 13.3%;
}
.nike-training{
margin-left: 10%;
}
.nike-snkrs{
margin-left: 10.4%;
}
