.home-images {
  max-width: 100%;
  display: block;

}
.blue-header{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 29px;
  font-weight: 900;
  text-align: left;
  color: white;
  line-height: 32px;
  margin-left: 4%;
  margin-top: 3%;
}
.blue-caption{
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-align: left;
  color: white;
  margin-left: 4%;
  margin-top: 8.6%;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.red-header{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 27px;
  font-weight: 900;
  text-align: left;
  color: white;
  line-height: 38px;
  margin-left: 4%;
  margin-top: 3.9%;
}
.red-caption{
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-align: left;
  color: white;
  margin-left: 4%;
  margin-top: 6.9%;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.white-header{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 28.6px;
  text-align: left;
  color: black;
  letter-spacing: -1px;
  word-spacing: -1px;
  margin-left: 4%;
  margin-top: 4.2%;
}
.white-caption{
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-align: left;
  color: black;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin-left: 4%;
  margin-top: 6.9%;
}
.green-header{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  color: white;
  line-height: 38px;
  letter-spacing: -.5px;
  margin-left: 4%;
  margin-top: 3.9%;
}
.green-caption{
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-align: left;
  color: white;
  margin-left: 4%;
  margin-top: 6.9%;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 20px;
}
.shoes-header{
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: 900;
  text-align: left;
  color: black;
  line-height: 38px;
  letter-spacing: -.5px;
  margin-left: 4%;
  margin-top: 3.9%;
}
.shoe-image{
  padding-top: 5%;
    margin-top: 37%;
    width: 326px;
    margin-left: 11%;
}
.shoe-names{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-left: 11%;
}
.shoe-shop{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-size: 12px;
  letter-spacing: .3px;
  margin-top: 15px;
  margin-left: 11%;
}
.col-md-3{
  width: 24%;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.red-img-button{
position: absolute;
margin-top: 12%;
margin-left: 6%;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}
